.container{
    display: flex;
    align-items: center;

}

.button{
    align-self: center;
margin: auto;
height: 80px;
padding: 20%;
color: white;
background-color: green;
border-radius: 300px;

font-weight: bolder;
font-size: 40px;

    display: flex;
    flex-direction: row;
}

.running{
    background-color: red!important;
}


p{
    color: white;
}